@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your global styles go here */

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}
h2 {
  font-size: 16px;
}
p {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 28px;
}
small {
    font-size: 12px;
}